### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Overview
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Player Count

* Display the total number of players

In [5]:
t_player = purchase_data['SN'].nunique()
t_player

576

In [6]:
total_player = pd.DataFrame({'Total Players': [t_player]})
total_player

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Number of unique Items
items = purchase_data['Item ID'].nunique()
items

183

In [8]:
#  Average Price
avg_price = purchase_data['Price'].mean()
avg_price

3.050987179487176

In [9]:
# Number of Purchases
num_purchase = purchase_data['Purchase ID'].nunique()
num_purchase

780

In [10]:
# Total Revenue
tol_revenue = purchase_data['Price'].sum()
tol_revenue

2379.77

In [11]:
data_summary = pd.DataFrame({"Number of Unique Items": [items],
                            "Average Price": [avg_price],
                            "Number of Purchases": [num_purchase],
                            "Total Revenue": [tol_revenue]})

In [12]:
data_summary['Average Price'] = data_summary['Average Price'].map("${:.2f}".format)
data_summary['Total Revenue'] = data_summary['Total Revenue'].map("${:.2f}".format)
data_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [63]:
# Basic infomation
player_gen = purchase_data['Gender'].value_counts()

In [64]:
# Total numeber of gender
total_gen = player_gen.sum()

In [15]:
# Count and percentage of male
male_count = purchase_data['Gender'].loc[purchase_data['Gender']=='Male'].count()
print(f"Male Total: {male_count}")

male_percent = (male_count / total_gen) * 100
print(f"Male Percentage: {male_percent}")

Male Total: 652
Male Percentage: 83.58974358974359

In [16]:
# Count and percentage of female
female_count = purchase_data['Gender'].loc[purchase_data['Gender']=='Female'].count()
print(f"Female Total: {female_count}")
female_percent = female_count / total_gen * 100
print(f"Female Percentage: {female_percent}")

Female Total: 113
Female Percentage: 14.487179487179489

In [17]:
# Count and percentage of  Other / Non-Disclosed
other_NonDisclosed_count = purchase_data['Gender'].loc[purchase_data['Gender']=='Other / Non-Disclosed'].count()
print(f"Other/Non-Disclosed Total: {other_NonDisclosed_count}")

other_NonDisclosed_percent = other_NonDisclosed_count / total_gen * 100
print(f"Other/Non-Disclosed Percentage: {other_NonDisclosed_percent}")

Other/Non-Disclosed Total: 15
Other/Non-Disclosed Percentage: 1.9230769230769231

In [18]:
# Summry  over "Gender"  (Uncleaned)
gender_summary = pd.DataFrame(data={"Tottal Count": [male_count, female_count, other_NonDisclosed_count],
                                   "Percentage of Players": [male_percent, female_percent, other_NonDisclosed_percent]},
                               index=['Male', 'Female', 'Other / Non-Disclosed'])

In [19]:
# Summry  over "Gender"  (Cleaned)
gender_summary['Percentage of Players'] = gender_summary['Percentage of Players'].astype(float).map("{:,.2f}%".format)
gender_summary

                       Tottal Count Percentage of Players
Male                            652                83.59%
Female                          113                14.49%
Other / Non-Disclosed            15                 1.92%

**Total count on a graph and on purchase_data does not match!!!!!**


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
# Grouped by "Gender"
grouped_gender = purchase_data.groupby(by=['Gender'])

# Numbers of people in each "Gender"
grouped_gender_count = grouped_gender['SN'].count()
grouped_gender_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: SN, dtype: int64

In [22]:
# Average Purchase Price
grouped_gender_average_price = grouped_gender['Price'].mean()  
grouped_gender_average_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [23]:
# Total Purchase Value
grouped_gender_total_value = grouped_gender['Price'].sum()
grouped_gender_total_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [24]:
#  Avg Total Purchase per Person
grouped_gender_SN = grouped_gender['SN'].nunique()
grouped_gender_SN
average_total_per_person = grouped_gender_total_value / grouped_gender_SN
average_total_per_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [25]:
# Uncleaned Dataframe grouped by "Gender"
gender_purchase_summary = pd.DataFrame(data={"Purchase Count": grouped_gender_count,
                                             'Average Purchase Price': grouped_gender_average_price,
                                             'Total Purchase Value': grouped_gender_total_value,
                                             'Avg Total Purchase per Person': average_total_per_person})

In [26]:
# Cleaned
gender_purchase_summary['Average Purchase Price'] = gender_purchase_summary['Average Purchase Price'].map('${:.2f}'.format)
gender_purchase_summary['Avg Total Purchase per Person'] = gender_purchase_summary['Avg Total Purchase per Person'].map('${:.2f}'.format)
gender_purchase_summary['Total Purchase Value'] = gender_purchase_summary['Total Purchase Value'].map('${:.2f}'.format)
gender_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [27]:
# Establish bins for ages
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data['Age_Summary'] = pd.cut(purchase_data['Age'], bins, labels=group_names, right=False)

In [28]:
age_grouped = purchase_data.groupby('Age_Summary')

             Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age_Summary
<10                   23   23   23      23       23         23     23
10-14                 28   28   28      28       28         28     28
15-19                136  136  136     136      136        136    136
20-24                365  365  365     365      365        365    365
25-29                101  101  101     101      101        101    101
30-34                 73   73   73      73       73         73     73
35-39                 41   41   41      41       41         41     41
40+                   13   13   13      13       13         13     13

In [29]:
#  Calculate the numbers in each ranges
age_group_total = age_grouped['Purchase ID'].count()
age_group_total

Age_Summary
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [30]:
# Calculate Percentage of Players
age_total = age_group_total.sum()
print(age_total)
print("------------------------------")

age_group_percent = (age_group_total / age_total)*100
print(age_group_percent)

780
------------------------------
Age_Summary
<10       2.948718
10-14     3.589744
15-19    17.435897
20-24    46.794872
25-29    12.948718
30-34     9.358974
35-39     5.256410
40+       1.666667
Name: Purchase ID, dtype: float64

In [31]:
age_summary = pd.DataFrame(data={"Total Count": age_group_total,
                                 "Percentage of Players": age_group_percent})

In [32]:
age_summary['Percentage of Players'] = age_summary['Percentage of Players'].map('{:.2f}%'.format)
age_summary

             Total Count Percentage of Players
Age_Summary
<10                   23                 2.95%
10-14                 28                 3.59%
15-19                136                17.44%
20-24                365                46.79%
25-29                101                12.95%
30-34                 73                 9.36%
35-39                 41                 5.26%
40+                   13                 1.67%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
# Purchase Count
purchase_count = age_grouped['Item ID'].count()
purchase_count

Age_Summary
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Item ID, dtype: int64

In [34]:
# Average Purchase Price
avg_price = age_grouped['Price'].mean()   # incorrect answer. Maybe (sum of price grouped by gender /  numbers of each gender)
avg_price

Age_Summary
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [35]:
# Total Purchase Value
total_value = age_grouped['Price'].sum()
total_value

Age_Summary
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [36]:
# Avg Total Purchase per Person
age_grouped_SN = age_grouped['SN'].nunique() # To take "SN" duplicates into account


avg_purchase_person = total_value / age_grouped_SN
avg_purchase_person

Age_Summary
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [37]:
purchasing_analysis = pd.DataFrame({'Purchase Count': purchase_count,
                                   'Average Purchase Price': avg_price,
                                   'Total Purchase Value': total_value,
                                   'Avg Total Purchase per Person': avg_purchase_person})

In [38]:
purchasing_analysis['Average Purchase Price'] = purchasing_analysis['Average Purchase Price'].map('${:.2f}'.format)
purchasing_analysis['Total Purchase Value'] = purchasing_analysis['Total Purchase Value'].map('${:.2f}'.format)
purchasing_analysis['Avg Total Purchase per Person'] = purchasing_analysis['Avg Total Purchase per Person'].map('${:.2f}'.format)
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age_Summary,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
sn_grouped = purchase_data.groupby('SN')

# Paurchase Count　(Number of "customers")
purchase_count_sn = sn_grouped['Item ID'].count()

In [62]:
#Average Purchase
avg_purchase_SN = sn_grouped['Price'].mean()

In [61]:
# Total Purchase Value
total_value_SN = sn_grouped['Price'].sum()

In [42]:
top_spender = pd.DataFrame({"Purchase Count": purchase_count_sn,
                           "Average Purchase": avg_purchase_SN,
                           "Total Purchase Value": total_value_SN})

In [55]:
sort = top_spender.sort_values(by=['Total Purchase Value'], ascending=False)
sort['Average Purchase'] = sort['Average Purchase'].map("${:.2f}".format)
sort['Total Purchase Value'] = sort['Total Purchase Value'].map("${:.2f}".format)

In [56]:
sort.head()

             Purchase Count Average Purchase Total Purchase Value
SN
Lisosia93                 5            $3.79               $18.96
Idastidru52               4            $3.86               $15.45
Chamjask73                3            $4.61               $13.83
Iral74                    4            $3.40               $13.62
Iskadarya95               3            $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [60]:
# Retrieve the Item ID, Item Name, and Item Price columns
items = purchase_data[['Item ID', 'Item Name', 'Price']]

In [46]:
# Group by Item ID and Item Name. 
grouped_item_id_name = items.groupby(['Item ID', 'Item Name'])


# Perform calculations to obtain purchase count, item price, and total purchase value
# purchase count
item_purchase_count = grouped_item_id_name['Item ID'].count()

#item_total_value = 
item_total_value = grouped_item_id_name['Price'].sum() # correct


#item_price = 
item_price =  item_total_value / item_purchase_count

In [47]:
most_popular_item = pd.DataFrame({"Purchase Count": item_purchase_count,
                                 "Item Price":item_price ,
                                 "Total Purchase Value":item_total_value})

In [67]:
most_popular_item_sorted = most_popular_item.sort_values(by=['Purchase Count'], ascending=False)

In [68]:
most_popular_item_sorted['Item Price'] = most_popular_item_sorted['Item Price'].map("${:.2f}".format)
most_popular_item_sorted['Total Purchase Value'] = most_popular_item_sorted['Total Purchase Value'].map("${:.2f}".format)
most_popular_item_sorted.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [69]:
sorted_values = most_popular_item.sort_values(by=['Total Purchase Value'], 
                                              ascending=False)

In [70]:
sorted_values['Item Price'] = sorted_values['Item Price'].map("${:.2f}".format)
sorted_values['Total Purchase Value'] = sorted_values['Total Purchase Value'].map("${:.2f}".format)
sorted_values.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80